.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title{
    width: 788px;
    height: 175px;
    margin-top: 43px;
    font-size: 4em;
    font-family: 'Rowdies', cursive;
    color: #FE3B1F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-group{
    width: 645px;
    height: 119px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.question{
    height: 52px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.radio-btn{
    height: 21px;
    margin-left: 10px;
    margin-top: 8px;
    padding: 0;
    width: 216px;
}

.radio-btn input{
    margin-top: 0;
    width: 12px;
    height: 12px;
}

.radio-btn label{
    margin-left: 7px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.area-group{
    width: 645px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.area-group:nth-child(1){
    margin-top: 45px;
}

.area-title{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.area-title:nth-child(1){
    margin-top: 45px;
}

.area-title:nth-child(2){
    margin-top: 33px;
}

.about-Devtalk{
    Width: 535px;
    Height: 122px;
    margin-top: 11px;
    outline: none;
    padding: 24px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}

.about-me{
    Width: 535px;
    Height: 89px;
    margin-top: 11px;
    outline: none;
    padding: 24px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}

.about-Devtalk, .about-me{
    border: 1px solid #525557;
}

.pagination{
    margin-top: 35px;
}