.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title{
    width: 788px;
    height: 175px;
    margin-top: 61px;
    font-size: 4em;
    font-family: 'Rowdies', cursive;
    color: #FE3B1F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-group{
    width: 645px;
    height: 157px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.set1{
    margin-top: 65px;
}

.set2{
    height: 119px;
    margin-top: 51px;
}

.question{
    height: 52px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.radio-btn{
    height: 21px;
    margin-left: 10px;
    margin-top: 8px;
    padding: 0;
    width: 216px;
}

.radio-btn:nth-child(3), .radio-btn:nth-child(4){
    margin-top: 17px;
}

.radio-btn input{
    margin-top: 0;
    width: 12px;
    height: 12px;
}

.radio-btn label{
    margin-left: 7px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.date-question{
    margin-top: 43px;
    width: 645px;
    height: 119px;
}

.date-question input{
    margin-top: 13px;
    width: 455px;
    height: 54px;
}
.date-question input::-webkit-calendar-picker-indicator {
    width: 16px;
    height: 18px;
    margin-right: 10px;
    background-image: url('../../../../public/images/calendar.png');
    cursor: pointer;
}

.set3{
    margin-top:77px;
    height: 119px;
}

.pagination{
    margin-top: 142px;
    margin-bottom: 20px;
}