.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title{
    width: 716px;
    margin-top: 131px;
    font-size: 4em;
    font-family: 'Rowdies', cursive;
    color: #FE3B1F;
}

.form-group{
    margin-top: 131px;
    width: 455px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input{
    margin:0;
    height: 54px;
    width: 455px;
    outline: none;
    border: 1px Solid #525557;
    padding: 17px 0 13px 57px;
    font-size: 14px;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.input-error{
    border: 1px solid #FE3B1F;
}

.error-message{
    margin-top: 5px;
    margin-bottom: 20px;
    height: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #FE3B1F;
    font-size: 11px;
    margin-left: 57px;
}

.pagination{
    margin-top: 75px;
}