.main{
    width: 100vw;
    height: 100vh;
    background-color: #151718;
    background-image: url(../../../public/images/stars.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title{
    margin-top: 175px;
    color: #FE3B1F;
    font-size: 6em;
    font-family: 'Rowdies', cursive;
}

.btn-start{
    font-size: 1.5em;
    width: 395px;
    height: 79px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #FE3B1F;
    color: #ffffff;
    cursor: pointer;
    margin-top: 105px;
}

.applications{
    margin-top: 18px;
    margin-left: 50px;
    width: 338px;
    height: 66px;
    font-size: 1.5em;
}

.applications a, .btn-start a{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.btn-start a{
    text-decoration: none;
}

.rocket-img {
    width: 409.92px;
    height: 372.45px;
    background: url('../../../public/images/rocketman.png');
    background-size: cover;
}

